*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    background-color: rgb(80, 75, 75);
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr 50px;
}

.arrow-img{
    height:50px;
    width: 50px;
    left: 90%;
    border-radius: 50%;
    
}

h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

h2{
    font-size: 50px;
}
.mussolini{
    width: 50%;
    height: 80%;
}
.chamberlain{
    height: 75%;
}
.hacha{
    height: 75%;
}

.zbrojeni{
    width:60%;
    height:90%;
}
.churchill{
    width: 50%;
    height: 80%;
}
.Gubcik{
     width:60%;
    height:90%;
}
.Anthropoid{
     width:60%;
    height:90%;
}
.pearl{
    width: 50%;
    height: 80%;
}
.africa{
    width: 50%;
    height: 80%;
}
.Heydrichiada{
     width:60%;
    height:90%;
}
.Lidice{
     width: 70%;
    height: 80%;
}
.Ravensbruck{
     width:60%;
    height:60%;
}
.schindler{
     width:60%;
    height:60%; 
}
.frankova{
      width:60%;
    height:70%;
}
.Terezin{
     width:60%;
    height:90%;
}
.Barbarosa{
     width:60%;
    height:90%;
}
.italie{
     width:75%;
    height:79%;
}
.vrba{
     width:30%;
    height:80%;
}
.Varsava{
     width:60%;
    height:85%;
}
.moravek{
    width:40%;
    height:60%;
}
.Holocaust{
     width:70%;
    height:100%;
}
.Osvetim{
     width:80%;
    height:80%;
}
.Normandie{
     width:75%;
    height:60%;
}
.stalin{
    width:60%;
    height:90%;
}
.Hirosima{
     width:60%;
    height:90%;
}
.sendlerova{
    width:50%;
    height:80%;
}
.winton{
    width:60%;
    height:90% 
}
.hirohito{
    width:60%;
    height:90% 
}

img{
    display: grid;
    height: 100%;
    border-radius: 50%;
    grid-template-columns: 1fr 250px;
}
.card, .card2, .card4, .card5, .card6, .card7{
    display: grid;
    background-color: rgb(73, 69, 69);
    margin: 5px;
    padding: 15px;
    height: 300px;
    width: 99.5%;
    color: white;
    gap: 20px;   
    justify-content: space-between;
    
}
::-webkit-scrollbar{
    display: none;
}
.card{
    animation: mymove 2.5s;
    position: relative;
}
.card2{
    animation: mymove2 2.5s;
    position: relative;
}

.card4{
    animation: mymove4 3.5s;
    position: relative;
}
.card5{
    animation: mymove5 3.5s;
    position:relative
}
.card6{
    animation: mymove6 4s;
    position: relative;
}
.card7{
    animation: mymove7 4s;
    position:relative
}

.card_by2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card3{
    display: flex;
    background-color: rgb(80, 75, 75);
    justify-content: center;
    gap: 10px;
    padding: 15px;
    height: 250px;
    width: 100%;
    color: white;
    position: relative;
    animation: mymove3 2.5s;
    margin: 5px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: rgb(215, 210, 210);
}
@keyframes mymove{
    from {left: -2000px;}
    to {left: 0px;}
}
@keyframes mymove2{
    from {right: -2000px;}
    to {right: 0px;}
}
@keyframes mymove3{
    from {bottom: -2000px;}
    to {bottom: 0px;}
}
@keyframes mymove4{
    from {left: -2000px;}
    to {left: 0px;}
}
@keyframes mymove5{
    from {right: -2000px;}
    to {right: 0px;}
}
@keyframes mymove6{
    from {left: -2000px;}
    to {left: 0px;}
}
@keyframes mymove7{
    from {right: -2000px;}
    to {right: 0px;}
}
@media only screen and (max-width: 767px) {
    h2{
        font-size: 35px;
    }
    .mussolini{
        width: 60%;
        height: 90%;
    }
    .churchill{
        width: 60%;
        height: 100%;
    }
    .Gubcik{
        height: 100%;
    }
    .pearl{
        width: 90%;
        height: 90%;
    }
    .africa{
         width: 90%;
        height: 77%;
    }
    .Anthropoid{
         width: 90%;
        height: 90%;
    }
    .Heydrichiada{
         width: 100%;
        height: 100%;
    }
    .Lidice{
         width: 90%;
        height: 100%;
    }
    .Ravensbruck{
         width: 90%;
        height: 78%;
    }
    .schindler{
         width: 80%;
        height: 70%;
    }
    .frankova{
         width: 90%;
        height: 72%;
    }
    .Terezin{
         width: 90%;
        height: 90%;
    }
    .Barbarosa{
         width: 90%;
        height: 95%;
    }
    .italie{
         width: 100%;
        height: 90%;
    }
    .vrba{
         width: 50%;
        height: 80%;
    }
    .Varsava{
         width: 90%;
        height: 83%;
    }
    .moravek{
         width: 50%;
        height: 70%;
    }
    .Holocaust{
         width: 90%;
        height: 100%;
    }
    .Osvetim{
         width: 90%;
        height: 100%;
    }
    .Normandie{
         width: 90%;
        height: 90%;
    }
    .stalin{
         width: 90%;
        height: 90%;
    }
    .sendlerova{
         width: 80%;
        height: 80%;
    }
    .winton{
         width: 90%;
        height: 100%;
    }
    .hirohito{
         width: 90%;
        height: 90%;
    }
    .Hirosima{
         width: 90%;
        height: 90%;
    }
    h1{
        display: flex;
        justify-content: center;
    }
    .zbrojeni{
         width: 90%;
        height: 90%;
    }
}