*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    background-color: rgb(80, 75, 75);
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr 50px;
}

.arrow-img{
    height:50px;
    width: 50px;
    left: 90%;
    border-radius: 50%;
    
}

h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

h2{
    font-size: 50px;
}
.zbrojeni{
    width:60%;
    height:90%;
}
.Gubcik{
     width:60%;
    height:90%;
}
.Anthropoid{
     width:60%;
    height:90%;
}
.Heydrichiada{
     width:60%;
    height:90%;
}
.Lidice{
     width: 70%;
    height: 80%;
}
.Ravensbruck{
     width:60%;
    height:80%;
}
.Terezin{
     width:60%;
    height:90%;
}
.Barbarosa{
     width:60%;
    height:90%;
}
.Varsava{
     width:60%;
    height:85%;
}
.Holocaust{
     width:50%;
    height:90%;
}
.Osvetim{
     width:60%;
    height:90%;
}
.Normandie{
     width:85%;
    height:90%;
}
.Hirosima{
     width:60%;
    height:90%;
}
img{
    display: grid;
    height: 100%;
    border-radius: 50%;
    grid-template-columns: 1fr 250px;
}
.card, .card2, .card4, .card5, .card6, .card7{
    display: grid;
    background-color: rgb(73, 69, 69);
    margin: 5px;
    padding: 15px;
    height: 300px;
    width: 99.5%;
    color: white;
    gap: 20px;   
    justify-content: space-between;
    
}
::-webkit-scrollbar{
    display: none;
}
.card{
    animation: mymove 2.5s;
    position: relative;
}
.card2{
    animation: mymove2 2.5s;
    position: relative;
}

.card4{
    animation: mymove4 3.5s;
    position: relative;
}
.card5{
    animation: mymove5 3.5s;
    position:relative
}
.card6{
    animation: mymove6 4s;
    position: relative;
}
.card7{
    animation: mymove7 4s;
    position:relative
}

.card_by2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card3{
    display: flex;
    background-color: rgb(129, 122, 122);
    justify-content: center;
    gap: 10px;
    padding: 15px;
    height: 250px;
    width: 100%;
    color: white;
    position: relative;
    animation: mymove3 2.5s;
    margin: 5px;
}
@keyframes mymove{
    from {left: -2000px;}
    to {left: 0px;}
}
@keyframes mymove2{
    from {right: -2000px;}
    to {right: 0px;}
}
@keyframes mymove3{
    from {bottom: -2000px;}
    to {bottom: 0px;}
}
@keyframes mymove4{
    from {left: -2000px;}
    to {left: 0px;}
}
@keyframes mymove5{
    from {right: -2000px;}
    to {right: 0px;}
}
@keyframes mymove6{
    from {left: -2000px;}
    to {left: 0px;}
}
@keyframes mymove7{
    from {right: -2000px;}
    to {right: 0px;}
}